
body {
  background: url('slike/pozadina.webp');
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}
.nav-bar {
  background-color:#C2B280;
  height:80px;
 /* display: flex;*/
  /*justify-content: flex-end;
  align-items: flex-end;*/
}
.nav-mobilni {
  background-color:#b7a164;
  height:70px;
  display: flex;
  /*justify-content: space-around;*/
  align-items: center;
  font-size: 1.7em;
  font-weight: 600;
  color: #1B1B1B;
}
#slovo-m {
  color:  #996600;
  font-family: fantasy;
  font-weight: 300;
}
#slovo-n {
  color: #1B1B1B;
  font-family: fantasy;
  font-weight: 300;
}
.nav-bar div {
  background-color: transparent;
  font-size: large;
  font-family:  Helvetica, Arial, sans-serif;
  color: black;
  font-weight: bold;
  padding: 10px 15px; 
  cursor: pointer;
}
.nav-bar div:hover {
  color:#996600
}
.nav-bar div a:hover {
  color:#996600
}
#katalog a {
  color:black;
  text-decoration: none;
}
#katalog a:hover {
  color:#996600
}
#usluga-prevoz:hover, #usluga-grad:hover {
  color: black
}
.katalog {
 position: relative
}
.dekoracija a {
  text-decoration: none;
  color: black
}
.katalog > div {
  margin-top: 10px;
  width:max-content;
  position: absolute;
  color:black;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  border-top:1px solid black;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  padding: 0 10px;
  visibility: hidden;
  z-index: 1;
}
.katalog > div p {
  margin: 7px
}
.glava {
  /*display: flex;*/
  align-items: center;
  /*justify-content: space-around;*/
  background-color: #1B1B1B;
  padding: 1.7% 0
}
.glava img {
  width: 32%;
  height:auto;
}
.glava img:first-of-type {
  opacity: 1;
  transition: opacity 1.2s;
}
#cvet {
  opacity: 1;
  transition: opacity 1.2s;
}
.glava-text {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.9em;
  background-color: #C2B280; /*b7a164, C2B280*/
  color: #1B1B1B;
  text-align: center;
  padding: 15px 0;
  font-weight: 600;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.uvodne-reči {
  font-family:'Charm', 'Courier New', Courier, monospace;
  color: wheat;
  font-size: 1.5em;
  text-align: center;
  font-style: normal;
  margin-top: 50px
}
.uvodne-reči p  {
  margin-bottom: -10px;
}
.hide {
  display: none;
}
.visible {
  display: block;
}
.usluge {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: max-content;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 4px solid#996600;
  color: wheat;
  font-size: 1.7em;
  margin-top: 60px;
  padding: 40px;
  border-radius: 4px
}
.usluge p {
  margin: 0;
  padding: 5px;
}
.o-nama {
  margin-top: 70px;
  color:wheat;
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 50px
}
.o-nama > h2 {
  text-decoration: overline;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0
}
.o-nama > p {
  font-family: 'Times New Roman', Times, serif;
  width: 70%;
  margin-left: auto;
  margin-right: auto
}
.int-prevoz, .gradska-međugradska {
  background-color: #C2B280;
  padding: 5px 20px 10px 20px;
  font-size: 1.3em;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.int-prevoz h3, .gradska-međugradska h3 {
  font-size: 1.1em;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #1B1B1B;
  color:#C2B280;
  padding: 17px 5px;
}
.int-prevoz, .gradska-međugradska {
  margin-bottom: 25px
}
.int-prevoz img, .gradska-međugradska img {
  float: left;
  width: 30%;
  margin-right: 15px;
  margin-bottom: 0px;
  height: auto;
  border: 1px solid #1B1B1B
}
#cvece {
  text-align: left;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.dokumenta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dokumenta p:last-of-type {
  text-align: center;
}
.dokumenta  p:first-of-type {
  display: inline-block;
  font-weight: 600;
  border-bottom: 2px solid black;
  margin-top: 0;
  margin-bottom: 0
}
.int-prevoz p:nth-of-type(3) {
  margin-top: 0;
  margin-bottom: 0
}
.gradska-međugradska p:last-of-type {
 text-align: center;
}
.telefon a {
  color: #1B1B1B;
}
.telefon a:hover {
  color: brown
}
footer {
  background-color:  #1B1B1B;
  color: #F5F5DC;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1em;
  clear: both;
}
#gore {
  font-size: 1.7em;
  align-self: flex-end;
}
#gore a {
  color:#D4CC9A;
}
#gore a:hover {
  color:#996600
}
footer h4 {
  font-size: 1.15em;
  padding-top: 40px;
  color: #b7a164
}
footer p {
  margin-top: 0;
}
.footer-blok p a {
  text-decoration: none;
  color: #F5F5DC;
}
.footer-blok a:hover {
  text-decoration: underline;
  color: #996600
}
.centriran-text {
  text-align: center;
}







