body {
  background-image: url('slike/pozadina.jpg');
  background-size: cover;
  margin: 0;
}
.nav-bar {
  background-color:#b7a164;
  height:80px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.nav-bar p {
  background-color: transparent;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
  padding: 0px 15px; 
}
.glava {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color:black;
  padding: 1.7% 0;
}
.glava img {
  width: 32%;
  height:auto;
}
.glava-text {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  background-color: #b7a164;
  color: black;
  text-align: center;
  padding-bottom: 10px;
  font-weight: 800;
  line-height: 14px;
  margin-top: 0;
}
.glava-text p:first-of-type {
  margin-top: 0;
  padding-top: 30px;
}
.uvodne-reÄi {
  font-family:'Courier New', Courier, monospace;
  color: wheat;
  font-size: 1.1em;
  text-align: center;
  font-style: italic;
  margin-top: 50px;
}

.hide {
  display: none
}
.usluge {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: max-content;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 4px solid#996600;
  color: wheat;
  font-size: 1.7em;
  margin-top: 50px;
  padding: 40px;
  border-radius: 4px;
}
.usluge p {
  margin: 0;
  padding: 5px;
}
.o-nama {
  color:wheat;
  text-align: center;
  margin-top: 60px;
  font-size: 1.4em;
  border-bottom: 50px solid #b7a164;
  margin-bottom: 0;
}
.o-nama > h2 {
  text-decoration: overline;
  font-family: Arial, Helvetica, sans-serif;
}
.o-nama > p {
  font-family: 'Times New Roman', Times, serif;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
footer {
  margin-top: -17px;
  background-color: black;
  color: whitesmoke;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1em;
}
footer p {
  margin-top: 0;
}





