@media screen and (max-width: 992px) {
  .nav-bar {
    justify-content: center;
  }
  .nav-bar div {
    font-size: 1.07em
  }
  .glava-text {
    font-size: 1.4em;
  }
  .uvodne-reči {
    font-size: 1.3em;
  }
  .uvodne-reči p  {
    margin-bottom: -10px;
    padding: 0 40px
  }
  .usluge {
    max-width: 70%;
    font-size: 1.4em;
    padding: 30px 20px;
    text-align: center
  }
  .o-nama {
    font-size: 1.2em;
  }
  .o-nama > p {
    width: 80%;
  }
  .int-prevoz, .gradska-međugradska {
    font-size: 1.2em
  }
}
@media screen and (max-width: 600px) {
  .nav-bar {
   flex-direction: column;
   font-size: 0.9em;
   align-items: flex-start;
   position: absolute;
   top: 70px;
   height: 0;
   visibility: hidden;
   overflow: hidden;
   background-color: white;
   width: 100%;
   border-top: 3px solid #996600;
   transition: height 0.7s, visibility 0.7s;
  }
  #slovo-m, #slovo-n {
    font-family:'Lucida Calligraphy', cursive;
    font-size: 1.3em;
  }
  .nav-bar-animacija {
    height:200px;
    visibility: visible;
  }
  .katalog > div {
    margin-top: 0;
    width:max-content;
    position: absolute;
    color:black;
    background-color: white;
    font-size: 1em;
    border-top: 0;
    padding: 0 10px;
    box-shadow: 2px 4px 4px 0 rgba(0,0,0,0.2);
    visibility: hidden;
  }
  #usluge > div {
    top: -70px;
  }
  #oprema > div {
    top: 0;
    left: 185px
  }
  .zindex {
    z-index: 1;
  }
  .zindex p:first-of-type {
    margin-bottom: 15px;
  }
  #katalog {
    margin-bottom: 8px
  }
  .glava {
    flex-direction: column;
    padding-bottom: 10%;
  }
  .glava img {
    width: 84%;
  }
  .glava img:last-of-type {
    border-radius: 7px;
    order: 2;
  }
  .glava img:nth-of-type(2) {
    order: 1;
  }
  .glava img:first-of-type {
    display: none;
  }
  .glava-text {
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px;
  }
  .uvodne-reči {
    font-size: 1.2em;
    padding: 0 5px;
  }
  .uvodne-reči p {
    margin-bottom: -15px;
  }
  .usluge {
    max-width: 80%;
    font-size: 1.3em;
    padding: 30px 15px;
    text-align: center
  }
  .usluge p {
    padding: 10px 5px;
  }
  .o-nama {
    font-size: 1.17em;
  }
  .int-prevoz, .gradska-međugradska {
    font-size: 1.15em
  }
  .footer-blok p:nth-of-type(1), .footer-blok p:nth-of-type(2) {
   text-align: center;
  }
}
@media screen and (max-width: 400px) {
  #slovo-m, #slovo-n {
    font-family: 'Ewert', cursive;
    font-size: 1.2em;
  }
  .glava-text {
    font-size: 1.05em;
    font-weight: 600;
    padding: 10px;
  }
  .uvodne-reči {
    font-size: 1.04em;
    padding: 0 5px;
  }
  .int-prevoz p:nth-of-type(1), .int-prevoz p:nth-of-type(2) {
    text-align: center;
  }
  .dokumenta p:last-of-type {
     margin-top: 5px;
  }
  .int-prevoz h3, .gradska-međugradska h3 {
    font-size: 1em
  }
  .gradska-međugradska p {
    text-align: center;
  }
}